@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box !important;
}

@layer base {
    input {
        outline: none !important;
    }
}

@layer components {
    .sidebar-thin {
        scrollbar-width: thin;
    }

    #category.active a {
        @apply border-l-[4px] border-primary;
    }
}