@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --primary: #1fa45b;
        --secondary: #f7f8fa;
        --bg: #ebeef2;
        --bg2: #fff;
        --icon-bg: #e8f0f5;
        --accent1: #393939;
        --accent2: #000;
    }

    .dark {
        --secondary: #1161ff;
        --bg: #122337;
        --bg2: #223449;
        --icon-bg: #182c43;
        --accent1: #e4e4e4;
        --accent2: #000;
    }
}


* {
    box-sizing: border-box !important;
}

::-webkit-scrollbar {
    width: 0.7vw;
}

::-webkit-scrollbar-track {
    background-color: #f4f4f4 !important;
    border-radius: 25px;
    height: 95%;
    margin-block: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #dedede !important;
    border-radius: 25px;
    border: 2px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8a8a880 !important;
}

@layer base {
    input {
        outline: none !important;
    }
}

@layer components {
    .sidebar-thin {
        scrollbar-width: thin;
    }

    #category.active a {
        @apply border-l-[4px] border-primary;
    }

    .subcategory_dot {
        @apply before:content-[''] before:absolute before:w-2 before:h-2 before:rounded-full before:bg-primary before:top-[9px] before:left-[-5px];
    }

    .dua_list_style {
        @apply mb-4 block pl-6 before:content-[url('/icons/duaarrow.svg')] before:absolute before:left-3
    }

    .sidebar_boxshadow {
        box-shadow: 0px 0px 14px #0000003f;
    }

    .sidebar_responsive {
        @apply max-xl:w-[100%] max-xl:absolute max-xl:bottom-0 max-xl:left-0 max-xl:shadow;
    }

    .navlist_responsive {
        @apply max-xl:flex max-xl:flex-row max-xl:justify-around max-xl:bg-transparent;
    }

}